{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url "index" %}">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Checkout</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        {% if messages %}
					{% for message  in messages %}
						<p {% if message.tags %} class='alert alert-{{ message.tags }} mb-5 {% endif %}'> {{ message }}</p>
						{% endfor %}
					{% endif %}
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <form method='POST' action='{% url "Profile" %}'>
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                    <input type="text" name='f_name'  class="form-control" id="c_fname" >
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname"  class="text-black">Last Name <span class="text-danger">*</span></label>
                    <input type="text" name='l_name' class="form-control" id="c_lname" >
                  </div>
                </div>
      
                
      
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_address" name='address' class="text-black">Address <span class="text-danger">*</span></label>
                    <input type="text" name='address' class="form-control" id="c_address"  placeholder="Street address">
                  </div>
                </div>
      
                
      
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                    <select class="form-control" name='state'>
                      <option>Select State</option>

                      <option value='Punjab'>Punjab</option>
                      <option value='Sindh'>Sindh</option>
                      <option value='KPK'>KPK</option>
                      <option value='Blochistan'>Blochistan</option>
                      <option value='Kashmir'>Kashmir</option>

                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                    <input type="text" name='zipcode' class="form-control" id="c_postal_zip" >
                  </div>
                </div>
      
                <div class="form-group row mb-5">
                  
                  <div class="col-md-6">
                    <label for="c_phone" name='phone_no' class="text-black">Phone <span class="text-danger">*</span></label>
                    <input type="text" name='phone_no' class="form-control" id="c_phone"  placeholder="Phone Number">
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block" type='submit'>Add Address</button>
                </div>
              </form>
    
            </div>
          </div>
          <div class="col-md-6">
    
            
    
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      {% for cart in carts %}
                      <tr>
                        <td>{{cart.medicine.name}} <strong class="mx-2">x</strong> {{cart.quantity}}</td>
                        <td>${{ item_total_prices}}</td>
                      </tr>
                      {% endfor %}
                      
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                        <td class="text-black">${{subtotal}}</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Delievry Charge</strong></td>
                        <td class="text-black">${{deliveryprice}}</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>${{price}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="cart-detail">
                      <h2>Address</h2>
                      {% if Profile %}
                      {% for pro in Profile %}
                      <form action="{% url "ordercomplete" %}">
                        
                        <div class="card">
                          <div class="card-body">
                          <h5>{{ pro.f_name }} {{ pro.l_name }}</h5>
                          <p>{{ pro.address}} {{ pro.state }}</p>
                          <p>{{ pro.phone_no}}</p>
                          </div>
                        </div>
                          <div class="form-check mt-2 mb-5">
                          <input name='profile' id='custadd{{forloop.counter}}' class="form-check-input" type="radio" value="{{ pro.id }}">
                          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                            Address: {{ forloop.counter }} </label>
                          </div>
                          <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type='submit'>Place Order</button>  
                          </div>
                        </form>
                      {% endfor %}
                      {% endif %}
                      
                    </div>
                  </div>
                  
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
        
      </div>
    </div>
    

    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Pharma Products</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}